<%= form_for(@school, :html => { multipart: true }) do |f| %>
	<% if @school.errors.any? %>
	  <div id="error-content" class="card-panel red lighten-4">
	    <div class="row">
				<a id="button-dismiss"class="btn-floating btn-medium center teal lighten-3"><i class="mdi-alert-error"></i></a>
	      <h5><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h5>
	    </div>
	    <div class="col s4">
	      <ul>
	      <% @school.errors.full_messages.each do |message| %>
	        <li>- <%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  </div>
	<% end %>

	<div class="row">
		<div class="col s12">

			<div class="row">
			  <div class="file-field input-field col s3">
			    <%= f.file_field :image, class: "file-path validate" %>
						<div class="btn">
							<span>Upload Image</span>
						</div>
			  </div>
			</div>

			<div class="row">
			  <div class="input-field col s10">
				  <i class="material-icons prefix">business</i>
			    <%= f.label :name %>
			    <%= f.text_field :name, placeholder: "Please use appropriate punctuation" %>
			  </div>
			</div>

			<div class="row">
			  <div class="input-field col s10">
				  <i class="material-icons prefix">language</i>
			    <%= f.label :address %>
			    <%= f.text_field :address, placeholder: "ex. 123 Fake St., Boston, USA" %>
			  </div>
			</div>

			<div class="row">
			  <div class="input-field col s10">
				  <i class="material-icons prefix">phone</i>
			    <%= f.label :phone %>
			    <%= f.text_field :phone, placeholder: "in the format: (123) 456-7890" %>
			  </div>
			</div>

			<div class="row">
			  <div class="input-field col s10">
			  <i class="material-icons prefix">web</i>
			    <%= f.label :website %>
			    <%= f.text_field :website, placeholder: "http://www.wonderschool.com" %>
			  </div>
			</div>

			<div class="row">
			  <div class="input-field col s10">
			  <!-- <i class="material-icons prefix">web</i> -->
			    <%= f.label :description %>
			    <%= f.text_area :description, class: "materialize-textarea" %>
			  </div>
			</div>


			<div class="row">
			  <div class="input-field col s3">
					<%= button_tag( :class => "waves-effect waves-light btn") do %>
					  Create<i class="material-icons">send</i>
					<% end %>
			  </div>
			</div>
			
		</div>
	</div>

<% end %>
