<br>

<div class="col s12">

	<div class="row">
		<div class="input-field">
			<%= form_tag search_schools_path, method: :get do %>
		    <%= text_field_tag :search, params[:search] %>
		    <label for="search"><i class="material-icons">search</i></label>
		    <%= submit_tag "Search", name: nil, style: "visibility: hidden;" %>
			<% end %>
		</div>
	</div>

	<% if !user_signed_in? %>
		<div class="row">
	    <div class="card blue lighten-2 center">
	      <div class="card-content white-text">
	        <span class="card-title"><h3>SchoolLookerUpper is the best source of listings and reviews for all types of private schools</h3></span>
	        <ul id="card-list-item">
		        <li><h5>Explore schools from public to private, language to vocational.</h5></li>
		        <li><h5>Leave reviews for your fellow students!</h5></li>
	        </ul>
	      </div>
	      <div id="index-card-links"class="card-action">
	        <%= link_to "LEARN MORE", pages_about_path %>
	        <%= link_to "SIGN UP", new_user_registration_path %>
	      </div>
	    </div>
	  </div>
	<% end %>

	<div class="row">
		<table class="bordered striped responsive-table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Address</th>
		      <th>Phone</th>
		      <th>Website</th>
		      <% if user_signed_in? && current_user.admin? %>
			      <th colspan="2"></th>
		      <% end %>
		    </tr>
		  </thead>

		  <tbody>
		    <% @schools.each do |school| %>
		      <tr>
		        <td><%= link_to school.name, school %></td>
		        <td><%= school.address %></td>
		        <td><%= school.phone %></td>
		        <td><%= link_to school.website, school.website %></td>
		        <% if user_signed_in? && current_user.admin? %>
			        <td><%= link_to 'Edit', edit_school_path(school) %></td>
			        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>

	<div class="row">
		<%# image_tag "https://files.schoollookerupper.com/images/bigstock-Desktop-With-Technology-And-Sn-104721035.jpg", class: "responsive-img" %>
		<%= image_tag "https://s3.amazonaws.com/files.schoollookerupper.com/images/bigstock-Closeup-of-a-teachers-desk-wit-96764204.jpg", class: "responsive-img" %>
		<%# image_tag "https://s3.amazonaws.com/files.schoollookerupper.com/images/bigstock-Apple-and-stack-of-books-70642945.jpg", class: "responsive-img" %>

	</div>
</div>
