<% if !user_signed_in? %>
	<div class="row">
	  <div class="col s12 m12">
	    <div class="card blue lighten-2 center">
	      <div class="card-content white-text">
	        <span class="card-title"><h3>EDU Depot is the best source of reviews for all types of schools</h3></span>
	        <ul id="card-list-item">
		        <li><h5>Explore schools from public to private, language and vocational.</h5></li>
		        <li><h5>Leave reviews for your fellow students!</h5></li>
	        </ul>
	      </div>
	      <div id="index-card-links"class="card-action">
	        <%= link_to "LEARN MORE", pages_about_path %>
	        <%= link_to "SIGN UP", new_user_registration_path %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
<table class="bordered striped responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.address %></td>
        <td><%= school.phone %></td>
        <td><%= link_to school.website, school.website %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>

      <div class="row">
        <div class="col s12">
					<%= image_tag "https://s3.amazonaws.com/edu-depot/4295168667_76207c74ae_b.jpg", class: "responsive-img" %>
        </div>
      </div>
