<div class="row"></div>

<div class="row">
	<div class="col s12 m4">
		<%= image_tag (@school.image_url), class: "responsive-img" %>
		
		<h2><%= @school.name %></h2> 
		
		<p>
		  <strong>Address:</strong>
		  <%= @school.address %>
		</p>
		<p>
		  <strong>Phone:</strong>
		  <%= @school.phone %>
		</p>
		<p>
		  <strong>Website:</strong>
		  <%= link_to @school.website, @school.website %>
		</p>

		<%= link_to 'Write a Review', new_school_review_path(@school), class: "btn" %> 
	</div>
	

	<div class="col s12 m8">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one!</h3>
		<% else %>
			<% @reviews.each do |review| %>
				<p><%= review.rating %></p>
				<p><%= review.comment %></p>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="col s12">
			<%= link_to 'Edit', edit_school_path(@school) %> |
			<%= link_to 'Back', schools_path %>			
		</div>
	</div>

</div>
