<div class="row"></div>

<div class="row">
	<div class="col s12 m4">
		<%= image_tag (@school.image_url), class: "responsive-img" %>
		
		<h2><%= @school.name %></h2> 

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<p><%= "#{@reviews.length} reviews" %></p>
		
		<p>
		  <strong>Address:</strong>
		  <%= @school.address %>
		</p>
		<p>
		  <strong>Phone:</strong>
		  <%= @school.phone %>
		</p>
		<p>
		  <strong>Website:</strong>
		  <%= link_to @school.website, @school.website %>
		</p>
		<div class="row">
				<%= link_to 'Write a Review', new_school_review_path(@school), class: "btn" %> 
		</div>
		<div class="row">
					<%= link_to 'Edit', edit_school_path(@school) %> |
					<%= link_to 'Back', schools_path %>		
		</div>
	</div>

	<div class="col s12 m8">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one!</h3>
		<% else %>
		<table class="striped">
	        <thead>
	          <tr>
	              <th class="col s2">Name</th>
	              <th class="col s2">created at</th>
	              <th class="col s6">review</th>
	          </tr>
	        </thead>
	        <tbody>
		        <% @reviews.each do |review| %>
		          <tr class="valign-wrapper">
			          <td class="col s2 valign">
				          <% if review.user.first_name.present? && review.user.last_name.present? %>
										<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
									<% elsif review.user.first_name.present? && review.user.last_name.blank? %>
										<%= "#{review.user.first_name.capitalize}" %>	
									<% else %>
										<%= "#{review.user.email}" %>
									<% end %>
								</td>
								<td class="col s2 valign"><%= review.created_at.strftime("%-m/%-d/%-y") %></td>
		            <td class="col s6 valign">
		            <div class="star-rating" data-score= <%= review.rating %> ></div>
		            <%= h(review.comment).gsub(/\n/, '<br>').html_safe %></td>
		          </tr>
		        <% end %>
	        </tbody>
	      </table>
		<% end %>
	</div>



</div>

<script>
	$('.star-rating').raty({
		path: "https://s3.amazonaws.com/edu-depot/stars",
		readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
  }
	});
</script>
